n8n/backup/workflows/TheAIAutomators_com___HAL3___Clickup_Agent.json
{
  "name": "TheAIAutomators.com - HAL3 - Clickup Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "id": "93dc6133-1038-48ee-ba6a-a61a750234c6",
      "typeVersion": 1.1,
      "name": "Workflow Input Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        260,
        340
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Workflow Input Trigger').item.json.sessionId }}-{{ $workflow.id }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        600
      ],
      "id": "748a753a-eb41-45d4-8ca5-37afcd700599",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "4664513",
        "space": "32523539",
        "folderless": true,
        "list": "140554709",
        "name": "={{ $fromAI(\"taskName\",\"Populate a consice task name\") }}",
        "additionalFields": {
          "assignees": [
            8805664
          ],
          "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Content', ``, 'string') }}",
          "dueDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.clickUpTool",
      "typeVersion": 1,
      "position": [
        760,
        600
      ],
      "id": "e33d9659-4a17-4eb1-a77f-8bb1a17dce8f",
      "name": "Create Clickup Task",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "UzCVH8E6HkEG6tV7",
          "name": "ClickUp"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "team": "4664513",
        "space": "32523539",
        "folderless": true,
        "list": "140554709",
        "filters": {
          "statuses": [
            "to do / reopen",
            "in progress",
            "qa",
            "ready to deploy",
            "client testing"
          ]
        }
      },
      "type": "n8n-nodes-base.clickUpTool",
      "typeVersion": 1,
      "position": [
        940,
        600
      ],
      "id": "41281b0c-d10c-4ede-8bf8-fc9c1f1791a8",
      "name": "Get All Tasks",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "UzCVH8E6HkEG6tV7",
          "name": "ClickUp"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
        "updateFields": {
          "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Content', ``, 'string') }}",
          "dueDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', ``, 'string') }}",
          "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
          "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.clickUpTool",
      "typeVersion": 1,
      "position": [
        1120,
        580
      ],
      "id": "bca1093a-b769-43dc-91cd-201acf9a0012",
      "name": "Update Task",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "UzCVH8E6HkEG6tV7",
          "name": "ClickUp"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "delete",
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.clickUpTool",
      "typeVersion": 1,
      "position": [
        1300,
        580
      ],
      "id": "4867506f-83ea-4195-a3f9-1869e021e9fd",
      "name": "Delete Task",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "UzCVH8E6HkEG6tV7",
          "name": "ClickUp"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=# Role\n\nYou are a ClickUp Agent\n\n# Responsibility\n\nYour role is to manage ClickUp tasks by creating, retrieving, updating, and deleting tasks as needed.\n\n# Your Available Agents Tools\n\n- Create ClickUp Task  \n- Get All Tasks  \n- Update Task  \n- Delete Task  \n\n# Standard Operating Procedures (Example Tasks)\n\n# Specifics\n- Current Date and Time: {{ $now }}\n- Be Detailed in your output\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        480,
        340
      ],
      "id": "26304849-f9ba-46fd-b3da-50c09c7ef497",
      "name": "Clickup Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "responseFormat": "text",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        380,
        600
      ],
      "id": "3ecb9799-e694-4989-b198-078a34d7fc8d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gYkej0afl0qEGo6M",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### ↑ To Do\nSelect Product Name",
        "height": 80,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "114c3f6e-b1c9-4827-a975-e0e5f880fd67",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### ↑ To Do\nSelect Team Space and List",
        "height": 80,
        "width": 270,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        760
      ],
      "id": "d491578f-8f12-48bd-bc60-9628bb92d8dd",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Clickup Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Clickup Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create Clickup Task": {
      "ai_tool": [
        [
          {
            "node": "Clickup Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get All Tasks": {
      "ai_tool": [
        [
          {
            "node": "Clickup Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Task": {
      "ai_tool": [
        [
          {
            "node": "Clickup Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Task": {
      "ai_tool": [
        [
          {
            "node": "Clickup Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Clickup Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "f7303244-2b4d-4a4e-9910-dcc084418a84",
  "meta": {
    "instanceId": "14f7c80232f401edf8cd4c1a00e4d1b7223e534aecc6f10ed85468c5c3bf3185"
  },
  "id": "FQ1n6m5qCTECTtb9",
  "tags": []
}