n8n/backup/workflows/TheAIAutomators_com___HAL3___CRM_Agent.json
{
  "name": "TheAIAutomators.com - HAL3 - CRM Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "id": "09a6a282-675a-4b8d-9b7e-d3518a96b95e",
      "typeVersion": 1.1,
      "name": "Workflow Input Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        260,
        340
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Workflow Input Trigger').item.json.sessionId }}-{{ $workflow.id }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        600
      ],
      "id": "7108d9de-2834-40f8-a591-9d75dea9e35e",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=# Role\n\nYou are a Zoho CRM Agent\n\n# Responsibility\n\nYour role is to manage customer relationship data by creating, updating, retrieving, and deleting leads, as well as handling quotes on the Zoho Platform.\n\n# Your Available Agents Tools\n\n- Create Update Lead  \n- Get All Leads  \n- Delete a Lead  \n- Create Update Quote  \n\n# Standard Operating Procedures (Example Tasks)\n\n# Specifics\n- Current Date and Time: {{ $now }}\n- Be Detailed in your output\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        480,
        340
      ],
      "id": "864a461e-3d16-482e-ad99-134e4894a827",
      "name": "CRM Agent"
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "upsert",
        "Company": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Company', ``, 'string') }}",
        "lastName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Name', ``, 'string') }}",
        "additionalFields": {
          "Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
          "First_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Name', ``, 'string') }}",
          "Mobile": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mobile', ``, 'string') }}",
          "Website": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Website', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.zohoCrmTool",
      "typeVersion": 1,
      "position": [
        780,
        600
      ],
      "id": "fb33f9fd-5f2c-45c3-88dd-eb3e437e25ec",
      "name": "Create Update Lead",
      "credentials": {
        "zohoOAuth2Api": {
          "id": "ALbjWqx01JBLBBYv",
          "name": "Zoho account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.zohoCrmTool",
      "typeVersion": 1,
      "position": [
        960,
        600
      ],
      "id": "36da71ce-97a9-4420-bd25-2c2673b2ad76",
      "name": "Get All Leads",
      "credentials": {
        "zohoOAuth2Api": {
          "id": "ALbjWqx01JBLBBYv",
          "name": "Zoho account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "operation": "delete",
        "leadId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Lead_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.zohoCrmTool",
      "typeVersion": 1,
      "position": [
        1120,
        600
      ],
      "id": "cfc4a179-5577-4b32-b1e6-baaf234409d2",
      "name": "Delete a Lead",
      "credentials": {
        "zohoOAuth2Api": {
          "id": "ALbjWqx01JBLBBYv",
          "name": "Zoho account"
        }
      }
    },
    {
      "parameters": {
        "resource": "quote",
        "operation": "upsert",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "Product_Details": [
          {
            "id": "817544000000441334",
            "list_price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('List_Price', ``, 'number') }}",
            "product_description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Product_Description', ``, 'string') }}",
            "total": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total', ``, 'number') }}"
          }
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.zohoCrmTool",
      "typeVersion": 1,
      "position": [
        1300,
        600
      ],
      "id": "552a1883-e7bd-4bb6-9f1c-442ed54e887c",
      "name": "Create Update Quote",
      "credentials": {
        "zohoOAuth2Api": {
          "id": "ALbjWqx01JBLBBYv",
          "name": "Zoho account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "responseFormat": "text",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        600
      ],
      "id": "c20d69ea-df77-48d2-9ab2-93b177272050",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gYkej0afl0qEGo6M",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### ↑ To Do\nSelect Product Name",
        "height": 80,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1300,
        780
      ],
      "id": "90ba9648-f40a-410f-82e7-8ffec2bd89cf",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "CRM Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "CRM Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create Update Lead": {
      "ai_tool": [
        [
          {
            "node": "CRM Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get All Leads": {
      "ai_tool": [
        [
          {
            "node": "CRM Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a Lead": {
      "ai_tool": [
        [
          {
            "node": "CRM Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Update Quote": {
      "ai_tool": [
        [
          {
            "node": "CRM Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CRM Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any"
  },
  "versionId": "11e99ee1-7a08-4a96-be03-d4746a671979",
  "meta": {
    "templateId": "VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls=",
    "templateCredsSetupCompleted": true,
    "instanceId": "14f7c80232f401edf8cd4c1a00e4d1b7223e534aecc6f10ed85468c5c3bf3185"
  },
  "id": "bmgbCuXx7QxZb9NK",
  "tags": []
}