n8n/backup/workflows/TheAIAutomators_com___HAL3___Social_Media_Agent.json
{
  "name": "TheAIAutomators.com - HAL3 - Social Media Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "id": "3ecd1279-1d0f-4434-99b4-f5965410a5ca",
      "typeVersion": 1.1,
      "name": "Workflow Input Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -320,
        -160
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Workflow Input Trigger').item.json.sessionId }}-{{ $workflow.id }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -20,
        100
      ],
      "id": "c0ae24c4-c030-40ec-9de4-4cfcdc381701",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=# Role\n\nYou are a Social Media Agent\n\n# Responsibility\n\nYour role is to manage social media postings by requesting the publication of content on various platforms.\n\n# Your Available Agents Tools\n\n- Request Posting to Facebook  \n- Request Posting to X (Twitter)  \n- Request Posting to LinkedIn  \n- Request Posting to Instagram  \n\n# Standard Operating Procedures (Example Tasks)\n\n# Specifics\n- Current Date and Time: {{ $now }}\n- Be Detailed in your output\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -100,
        -160
      ],
      "id": "408e93a8-78e3-44e7-acc9-04a3aac062a8",
      "name": "Social Media Agent"
    },
    {
      "parameters": {
        "toolDescription": "Request Publication of a Social Media Post",
        "method": "POST",
        "url": "<ADD MAKE WEBHOOK>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "request_type",
              "valueProvider": "fieldValue",
              "value": "Facebook"
            },
            {
              "name": "post_type"
            },
            {
              "name": "text_message"
            },
            {
              "name": "image_url",
              "valueProvider": "modelOptional"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "post_type",
              "description": "Must be 'Text' or 'Image and Text'",
              "type": "string"
            },
            {
              "name": "text_message",
              "description": "This is the text to post on the social platform",
              "type": "string"
            },
            {
              "name": "image_url",
              "description": "If an image is being posted, the URL will go here",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        160,
        100
      ],
      "id": "32005764-93f9-44cc-b1eb-a2a027ef85d8",
      "name": "Request Posting to Facebook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4zVGktWc0f1Pm6hK",
          "name": "Make.com Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Request Publication of a Social Media Post",
        "method": "POST",
        "url": "<ADD MAKE WEBHOOK>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "request_type",
              "valueProvider": "fieldValue",
              "value": "Twitter"
            },
            {
              "name": "post_type"
            },
            {
              "name": "text_message"
            },
            {
              "name": "image_url",
              "valueProvider": "modelOptional"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "post_type",
              "description": "Must be 'Text' or 'Image and Text'",
              "type": "string"
            },
            {
              "name": "text_message",
              "description": "This is the text to post on the social platform",
              "type": "string"
            },
            {
              "name": "image_url",
              "description": "If an image is being posted, the URL will go here",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        360,
        100
      ],
      "id": "61953803-bb13-427d-8f09-0eedd454449c",
      "name": "Request Posting to X Twitter",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4zVGktWc0f1Pm6hK",
          "name": "Make.com Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Request Publication of a Social Media Post",
        "method": "POST",
        "url": "<ADD MAKE WEBHOOK>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "request_type",
              "valueProvider": "fieldValue",
              "value": "Instagram"
            },
            {
              "name": "post_type"
            },
            {
              "name": "text_message"
            },
            {
              "name": "image_url",
              "valueProvider": "modelOptional"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "post_type",
              "description": "Must be 'Text' or 'Image and Text'",
              "type": "string"
            },
            {
              "name": "text_message",
              "description": "This is the text to post on the social platform",
              "type": "string"
            },
            {
              "name": "image_url",
              "description": "If an image is being posted, the URL will go here",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        740,
        100
      ],
      "id": "03654234-2ea5-4b1b-b1fd-53d5254836c2",
      "name": "Request Posting to Instagram",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4zVGktWc0f1Pm6hK",
          "name": "Make.com Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Request Publication of a Social Media Post",
        "method": "POST",
        "url": "<ADD MAKE WEBHOOK>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "request_type",
              "valueProvider": "fieldValue",
              "value": "LinkedIn"
            },
            {
              "name": "post_type"
            },
            {
              "name": "text_message"
            },
            {
              "name": "image_url",
              "valueProvider": "modelOptional"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "post_type",
              "description": "Must be 'Text' or 'Image and Text'",
              "type": "string"
            },
            {
              "name": "text_message",
              "description": "This is the text to post on the social platform",
              "type": "string"
            },
            {
              "name": "image_url",
              "description": "If an image is being posted, the URL will go here",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        540,
        100
      ],
      "id": "7c5cb46a-0e6e-4ec3-9e85-6c5b4defed2d",
      "name": "Request Posting to LinkedIn",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4zVGktWc0f1Pm6hK",
          "name": "Make.com Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "responseFormat": "text",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -180,
        100
      ],
      "id": "9e7e88c6-3846-41f6-9768-ef1f987143a6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gYkej0afl0qEGo6M",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### ↑ Add Make.com Scenario Webhook URL in each Node\nMake.com blueprints are in the Folder to be imported",
        "height": 120,
        "width": 270,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "id": "567a43ca-ac85-4dae-bd19-728b6be4fc07",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Social Media Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Request Posting to Facebook": {
      "ai_tool": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Request Posting to X Twitter": {
      "ai_tool": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Request Posting to Instagram": {
      "ai_tool": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Request Posting to LinkedIn": {
      "ai_tool": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any"
  },
  "versionId": "d7c72e8b-4804-421b-8683-8a2df40c7aa9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14f7c80232f401edf8cd4c1a00e4d1b7223e534aecc6f10ed85468c5c3bf3185"
  },
  "id": "uDWe6LWwfBeMX2as",
  "tags": [
    {
      "createdAt": "2025-01-21T10:52:12.339Z",
      "updatedAt": "2025-01-21T10:52:12.339Z",
      "id": "Mwyb0MwOpcnfOHuD",
      "name": "Agent"
    }
  ]
}