n8n/backup/workflows/TheAIAutomators_com___HAL3___X_Twitter_Agent.json
{
  "name": "TheAIAutomators.com - HAL3 - X Twitter Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "id": "88e93355-7c5f-45b6-90ec-f8ac596aeefc",
      "typeVersion": 1.1,
      "name": "Workflow Input Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -320,
        -160
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Workflow Input Trigger').item.json.sessionId }}-{{ $workflow.id }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -20,
        100
      ],
      "id": "73ccd75f-08bc-4b16-8149-1f1c97e3255a",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=# Role\n\nYou are an X Twitter Agent\n\n# Responsibility\n\nYour role is to interact with X (formerly Twitter) by searching tweets, retrieving user information, and sending direct messages.\n\n# Your Available Agents Tools\n\n- Search X Twitter  \n- Send a DM to a Username  \n- Get a User by Username  \n\n# Standard Operating Procedures (Example Tasks)\n\n# Specifics\n- Current Date and Time: {{ $now }}\n- Be Detailed in your output\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -100,
        -160
      ],
      "id": "47a8dd69-f97d-4fb3-a253-c5d2aa2f1014",
      "name": "X Twitter Agent"
    },
    {
      "parameters": {
        "operation": "search",
        "searchText": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Term', ``, 'string') }}",
        "limit": 10,
        "additionalFields": {
          "sortOrder": "recency"
        }
      },
      "type": "n8n-nodes-base.twitterTool",
      "typeVersion": 2,
      "position": [
        160,
        100
      ],
      "id": "fb71a28e-dc52-43ad-9c33-e21078b34619",
      "name": "Search X Twitter",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "iUkN4V0Jo2SpXeuu",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "resource": "directMessage",
        "user": {
          "__rl": true,
          "mode": "username",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('User', ``, 'string') }}"
        },
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitterTool",
      "typeVersion": 2,
      "position": [
        320,
        80
      ],
      "id": "233cef45-d9a0-42f7-869f-38f9f840fe1a",
      "name": "Send a DM to a Username",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "iUkN4V0Jo2SpXeuu",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "user": {
          "__rl": true,
          "mode": "username",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('User', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.twitterTool",
      "typeVersion": 2,
      "position": [
        480,
        80
      ],
      "id": "78ce8bfb-1c6d-4d23-866f-8a68b1a7d29f",
      "name": "Get a User by Username",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "iUkN4V0Jo2SpXeuu",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "responseFormat": "text",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -180,
        100
      ],
      "id": "0b284aab-c6cb-4b52-a2f1-1378b0327421",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gYkej0afl0qEGo6M",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "X Twitter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "X Twitter Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search X Twitter": {
      "ai_tool": [
        [
          {
            "node": "X Twitter Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a DM to a Username": {
      "ai_tool": [
        [
          {
            "node": "X Twitter Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a User by Username": {
      "ai_tool": [
        [
          {
            "node": "X Twitter Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "X Twitter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any"
  },
  "versionId": "697b263f-e1c1-41e1-a83a-47c6d40fd78f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14f7c80232f401edf8cd4c1a00e4d1b7223e534aecc6f10ed85468c5c3bf3185"
  },
  "id": "n8Qtr9v8SJNaerpt",
  "tags": [
    {
      "createdAt": "2025-01-21T10:52:12.339Z",
      "updatedAt": "2025-01-21T10:52:12.339Z",
      "id": "Mwyb0MwOpcnfOHuD",
      "name": "Agent"
    }
  ]
}