n8n/backup/workflows/templates/TheAIAutomators/TheAIAutomators_com___HAL2___Personal_Life_Supervisor.json
{
  "name": "TheAIAutomators.com - HAL2 - Personal Life Supervisor",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "id": "a6e9d0a8-f2ef-4366-88d1-ff63a197fb1e",
      "typeVersion": 1.1,
      "name": "Workflow Input Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        260,
        340
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Workflow Input Trigger').item.json.sessionId }}-{{ $workflow.id }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        600
      ],
      "id": "17ea529c-00d7-44ad-b560-bb6dc0fa5ee6",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "name": "Notion_Agent",
        "workflowId": {
          "__rl": true,
          "value": "fHtusj89q2bnCZEj",
          "mode": "list",
          "cachedResultName": "The AI Automators — TheAIAutomators.com - HAL3 - Notion Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $fromAI(\"message\",\"Populate this with a relevant message to this subagent\")}}",
            "sessionId": "={{ $('Workflow Input Trigger').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        740,
        600
      ],
      "id": "6086b88d-37b5-47fa-aa9f-e6b2bd4bbf49",
      "name": "Notion Agent"
    },
    {
      "parameters": {
        "name": "Tasks_Agent",
        "workflowId": {
          "__rl": true,
          "value": "3jlRm2j5lxw4hv0f",
          "mode": "list",
          "cachedResultName": "The AI Automators — TheAIAutomators.com - HAL3 - Tasks Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $fromAI(\"message\",\"Populate this with a relevant message to this subagent\")}}",
            "sessionId": "={{ $('Workflow Input Trigger').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        900,
        600
      ],
      "id": "12ece8cc-fe08-47d7-9b1e-f828b512d4db",
      "name": "Tasks Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=# Role\n\nYou are a Lifestyle Supervisor Agent\n\n# Responsibility\n\nYour primary focus is to interpret the user's request, in the context of the conversation history, and then where relevant, delegate tasks to the appropriate agent tools, verify the quality of their work, and request revisions when necessary.\n\n# Your Available Agents Tools (Your Team)\n\nWe have implemented the “Agent as a tool” multi-agent system design.\n\nThe following are the agents/tools at your disposal:\n\n## **Notion Agent**  \n**Responsibility:** Manage Notion data by retrieving and updating meal plans, habits, and other database entries.  \n**Tools Available:**  \n- **Get My Weekly Meal Planner** – Retrieve weekly meal plans from Notion.  \n- **Get My Meals** – Retrieve saved meal entries from Notion.  \n- **Get Habits** – Retrieve tracked habits from Notion.  \n- **Create Meal** – Add a new meal entry into Notion.  \n\n## **Google Tasks Agent**  \n**Responsibility:** Manage tasks by creating, updating, closing, deleting, and retrieving all tasks efficiently.  \n**Tools Available:**  \n- **Create Task** – Add a new task to Google Tasks.  \n- **Close Task** – Mark an existing task as complete.  \n- **Delete Task** – Remove a task from Google Tasks.  \n- **Update Task** – Modify details of an existing task.  \n- **Get All Tasks** – Retrieve a list of all tasks.  \n\n## **Travel Agent**  \n**Responsibility:** Assist with travel planning by retrieving airport codes and checking flight availability.  \n**Tools Available:**  \n- **Check Flights** – Retrieve flight availability and pricing.  \n- **Get Airport Code** – Look up the correct airport codes for flight searches.  \n\n# Standard Operating Procedures (Example Tasks)\n\n# Specifics\n- Current Date and Time: {{ $now }}\n- Be Detailed in your output\n- Call tools multiple times if neccesary to achieve the desired outcome\n- Only delegate tasks to agents that have the capabilities to complete those tasks"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        480,
        340
      ],
      "id": "50af5a85-eeec-4e5e-b37b-c22a24e26d31",
      "name": "Lifestyle Supervisor"
    },
    {
      "parameters": {
        "name": "Travel_Agent",
        "workflowId": {
          "__rl": true,
          "value": "Ai9jzyCLv3vBm4F2",
          "mode": "list",
          "cachedResultName": "The AI Automators — TheAIAutomators.com - HAL3 - Events & Travel Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $fromAI(\"message\",\"Populate this with a relevant message to this subagent\")}}",
            "sessionId": "={{ $('Workflow Input Trigger').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1060,
        600
      ],
      "id": "7ee9afd3-b942-4aee-a79d-a5c286967f9d",
      "name": "Travel Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "responseFormat": "text",
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        600
      ],
      "id": "837a4fed-4411-4a80-bb39-45d7b54c0c1d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gYkej0afl0qEGo6M",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Lifestyle Supervisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Lifestyle Supervisor",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Notion Agent": {
      "ai_tool": [
        [
          {
            "node": "Lifestyle Supervisor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tasks Agent": {
      "ai_tool": [
        [
          {
            "node": "Lifestyle Supervisor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Travel Agent": {
      "ai_tool": [
        [
          {
            "node": "Lifestyle Supervisor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Lifestyle Supervisor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any"
  },
  "versionId": "82d82068-cc49-4e82-b8ae-99c28e720a47",
  "meta": {
    "templateId": "VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls=",
    "templateCredsSetupCompleted": true,
    "instanceId": "14f7c80232f401edf8cd4c1a00e4d1b7223e534aecc6f10ed85468c5c3bf3185"
  },
  "id": "VyPAbCk2ImPOAZeN",
  "tags": []
}